<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<body id="home-bg">
  <section id="menu-container">
    <h1>Drones Ironhack</h1>
      <a id="home-button" href="/drones">List of drones</a>
  </section>
</body>