<h2>Create a new drone</h2><body id="drones-bg">
  <header>
    <nav id="nav-bar">
      <a href="/">← Go back to Home</a>
    </nav>
  </header>
    <div class="drones-form">
      <div class="form">
        <h2>Add a drone to the list</h2>
          <form method="POST" action="/drones/create">
            <label>drone's name</label>
            <input required type="text" name="name" placeholder="AnakinDR89"/>
            <label>Propellers</label>
            <input required type="number" name="propellers" placeholder="5"/>
            <label>MaxSpeed</label>
            <input required type="number" name="price" placeholder="20"/>
            <button type="submit">Add drone</button>
          </form>
      </div>
    </div>
  </div>
</body>